In [1]:
import pandas as pd
import pickle
import blackjack

In [2]:
# run the Blackjack simulation
deck_count = 2
num_players = 3
num_hands_per_tourney = 250
num_tourneys = 1
cut_cards = True
dealer_hit_to = 17
test_string = 'override'

blackjack.game(deck_count, num_players, num_hands_per_tourney, num_tourneys, cut_cards, dealer_hit_to, test_string)

override
Done!

In [3]:
# import the pickled dataframe
infile = open('blackjack.pickle','rb')
df = pickle.load(infile)
infile.close()

In [4]:
df[(df['blackjack'] == True)]

        name total result   bust blackjack    cards  round  hand
15    dealer    21   None  False      True  [A, 10]      3     0
35    dealer    21   None  False      True  [10, A]      8     0
71    dealer    21   None  False      True  [10, A]     17     0
91    dealer    21   None  False      True   [A, J]     22     0
111   dealer    21   None  False      True  [A, 10]     27     0
231   dealer    21   None  False      True   [Q, A]     57     0
304  Player1    21   push  False      True  [A, 10]     76     0
307   dealer    21   None  False      True   [Q, A]     76     0
587   dealer    21   None  False      True   [Q, A]    146     0
589  Player2    21   push  False      True  [A, 10]    147     0
591   dealer    21   None  False      True  [10, A]    147     0
599   dealer    21   None  False      True   [Q, A]    149     0
687   dealer    21   None  False      True   [A, K]    171     0
715   dealer    21   None  False      True   [A, J]    178     0
735   dealer    21   None  False      True   [A, Q]    183     0
907   dealer    21   None  False      True  [10, A]    226     0

In [5]:
df[(df['round'] == 226)]

        name total result   bust blackjack    cards  round  hand
904  Player1    14   lose  False     False   [6, 8]    226     0
905  Player2     9   lose  False     False   [2, 7]    226     0
906  Player3    18   lose  False     False   [8, K]    226     0
907   dealer    21   None  False      True  [10, A]    226     0