In [1]:
import pandas as pd
import pickle
import blackjack

In [2]:
# run the Blackjack simulation
deck_count = 2
num_players = 3
num_hands_per_tourney = 250
num_tourneys = 1
cut_cards = True
dealer_hit_to = 17

blackjack.game(deck_count, num_players, num_hands_per_tourney, num_tourneys, cut_cards, dealer_hit_to)

Done!

In [3]:
# import the pickled dataframe
infile = open('blackjack.pickle','rb')
df = pickle.load(infile)
infile.close()

In [4]:
df.head()

      name total result   bust          cards  round  hand
0  Player1    19   lose  False      [3, 6, J]      0     0
1  Player2    26   lose   True  [10, 3, 3, Q]      0     0
2  Player3    21   push  False      [8, 3, K]      0     0
3   dealer    21   None  False         [Q, A]      0     0
4  Player1    21    win  False      [6, K, 5]      1     0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
name      1000 non-null object
total     1000 non-null object
result    750 non-null object
bust      1000 non-null object
cards     1000 non-null object
round     1000 non-null int64
hand      1000 non-null int64
dtypes: int64(2), object(5)
memory usage: 54.8+ KB