In [17]:
import pandas as pd
import pickle
import blackjack

In [18]:
# run the Blackjack simulation
deck_count = 2
num_players = 3
num_hands_per_tourney = 250
num_tourneys = 1
cut_cards = True
dealer_hit_to = 17

blackjack.game(deck_count, num_players, num_hands_per_tourney, num_tourneys, cut_cards, dealer_hit_to)

Done!

In [12]:
# import the pickled dataframe
infile = open('blackjack.pickle','rb')
df = pickle.load(infile)
infile.close()

In [13]:
df[(df['blackjack'] == True)]

        name total result   bust blackjack    cards  round  hand
41   Player2    21   push  False      True  [10, A]     10     0
43    dealer    21   None  False      True  [A, 10]     10     0
252  Player1    21   push  False      True   [A, Q]     63     0
255   dealer    21   None  False      True   [Q, A]     63     0
267   dealer    21   None  False      True   [K, A]     66     0
495   dealer    21   None  False      True   [J, A]    123     0
527   dealer    21   None  False      True   [K, A]    131     0
670  Player3    21   push  False      True   [A, J]    167     0
671   dealer    21   None  False      True   [A, Q]    167     0
747   dealer    21   None  False      True  [A, 10]    186     0
767   dealer    21   None  False      True   [Q, A]    191     0
807   dealer    21   None  False      True   [Q, A]    201     0
911   dealer    21   None  False      True  [10, A]    227     0

In [16]:
df[(df['round'] == 66)]

        name total result   bust blackjack         cards  round  hand
264  Player1    20   lose  False     False        [K, K]     66     0
265  Player2    22   lose   True     False  [4, A, J, 7]     66     0
266  Player3    23   lose   True     False     [3, K, J]     66     0
267   dealer    21   None  False      True        [K, A]     66     0